@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

html{
    background-color: rgb(39, 39, 39);
    font-family: 'Roboto Mono', monospace;
}
:root{
    --fs: 100px;
    --sesfs: 80px;
}
#container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock, #session{
    text-align: center;
    font-weight: bold;
    color:white;
    font-size: var(--fs);
    margin: 10px;
}

#session {
    font-size: var(--sesfs);
}
